.content {
display: flex;
align-items: flex-start;

padding: 15px;
}

.list-clients {
  list-style-type: none;

}

.form {
  border: 1px solid black;
  margin-left: 60px;
}

.divida {
  border: 1px solid black;
  margin: 10px;
}

.box-debit-client {
  border: 1px solid black;
  margin: 10px;
}

.name-debtor {
  margin: 15px;
}

.debit {
  margin: 15px;
}