header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(20, 40, 72);
  border-bottom: 1px solid white;
  color: white;
  font-family: Dalek Pinpoint , sans-serif;
  font-size: 19px;
  height: 120px;
}

